$color_1: #fa3434;
$color_2: #708da9;
$color_3: #1c1c1c;
$color_4: #fff;
$color_5: rgba(255, 255, 255, 0.7);
$color_6: #0d6efd;
$color_7: #ea5455;
$color_8: #e73d3e;
$color_9: #259af4;
$color_10: #5486f3;
$color_11: #00b517;
$color_12: #ff9017;
$color_13: #3ec9d6;
$color_14: #0261ed;
$color_15: #66acff;
$color_16: inherit;
$color_17: #696cff;
$color_18: #1ea97c;
$color_19: #cc8925;
$color_20: #ff5757;
$color_21: #f8f9fa;
$font-family_1: Lato, Helvetica, sans-serif;
$font-family_2: "PrimeIcons";
$background-color_1: rgba(0, 0, 0, 0.4);
$background-color_2: #fff;
$background-color_3: transparent;
$background-color_4: #dee2ef;
$background-color_5: rgba(0, 0, 0, 0.85);
$background-color_6: rgba(255, 255, 255, 0.1);
$background-color_7: #259af4;
$background-color_8: #00b517;
$background-color_9: #5486f3;
$background-color_10: #ff9017;
$background-color_11: #fa3434;
$background-color_12: rgba(255, 255, 255, 0.2);
$background-color_13: #0d6efd;
$border-color_1: #0d6efd;
$border-color_2: #fa3434;
$border-color_3: transparent;
$border-color_4: #0261ed;
$border-color_5: #fff;
$border-color_6: #dee2ef;
$border-color_7: #0267fb;
$border-color_8: #708da9;
$border-color_9: #0c8df1;
$border-color_10: #0b7ed6;
$border-color_11: #3570f1;
$border-color_12: #175bef;
$border-color_13: #00a315;
$border-color_14: #009112;
$border-color_15: #fa8200;
$border-color_16: #de7400;
$border-color_17: #2cbfcd;
$border-color_18: #27aab6;
$border-color_19: #f91717;
$border-color_20: #ec0606;
$border-color_21: #e5f1ff;
$border-color_22: transparent transparent #dee2ef transparent;
$border-color_23: #c6ccd7;
$border-color_24: rgba(255, 255, 255, 0);
$border-top-color_2: #1c1c1c;
$border-right-color_1: #1c1c1c;
$white: #fff;
$border-bottom-color_2: #f2f2f2;
$border-bottom-color_3: #1c1c1c;
$border-left-color_1: #1c1c1c;
$outline-color_1: #0d6efd;
$primary: #0d6efd;
$shade-green: #e3f0ff;
$border-avatar: #c7e1ff;
$teal: #55bdc3;
$darkGray: #606060;
$orange: #f38332;
$border: #dee2e7;
$backShade: #eff2f4;
$primary-gradient: linear-gradient(to left, #0f6a08, #16f11d);
